Repository DynamicField/NovelRT, changes with the owners that CODEOWNERS names for each.
All owners: @capnkenny, @FiniteReality, @tannergooding, @RubyNova

CODEOWNERS:

# Audio
/include/NovelRT/Audio/      @capnkenny
/src/NovelRT/Audio/          @capnkenny

# CMake related changes
**/CMakeLists.txt            @FiniteReality
**/*.cmake                   @FiniteReality
/cmake/                      @FiniteReality

# devops related stuff
/.github/workflows/          @FiniteReality @tannergooding
/scripts/                    @FiniteReality @tannergooding

# Animation
/include/NovelRT/Animation/  @FiniteReality @RubyNova
/src/NovelRT/Animation/      @FiniteReality @RubyNova

# Ecs
/include/NovelRT/Ecs/        @RubyNova
/src/NovelRT/Ecs/            @RubyNova

# DotNet
/include/NovelRT/DotNet/     @tannergooding
/src/NovelRT/DotNet/         @tannergooding

# Graphics
/include/NovelRT/Graphics/   @RubyNova @tannergooding
/src/NovelRT/Graphics/       @RubyNova @tannergooding

# Ink
/include/NovelRT/Ink/        @tannergooding
/src/NovelRT/Ink/            @tannergooding

# Input
/include/NovelRT/Input/      @RubyNova
/src/NovelRT/Input/          @RubyNova

# Maths
/include/NovelRT/Maths/      @RubyNova @tannergooding
/src/NovelRT/Maths/          @RubyNova @tannergooding

# SceneGraph
/include/NovelRT/SceneGraph/ @tannergooding
/src/NovelRT/SceneGraph/     @tannergooding

# Timing
/include/NovelRT/Timing/     @RubyNova @tannergooding
/src/NovelRT/Timing/         @RubyNova @tannergooding

# Utilities
/include/NovelRT/Utilities/  @RubyNova @tannergooding @capnkenny
/src/NovelRT/Utilities/      @RubyNova @tannergooding @capnkenny

# Windowing
/include/NovelRT/Windowing/  @RubyNova @tannergooding

# NovelRT.Interop
/include/NovelRT.Interop/    @RubyNova @capnkenny
/src/NovelRT.Interop/        @RubyNova @capnkenny

# NovelRT.DotNet
/src/NovelRT.DotNet/        @tannergooding @RubyNova @FiniteReality @capnkenny

Added wider property support; the code compiles!
  include/NovelRT/Java/Bindings/PropertyBindings.h
  include/NovelRT/Java/TypeConversion/Vector2TypeConverter.h
  include/NovelRT/Transform.h
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/bridge/handle/NovelCleaner.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/bridge/handle/OwnedHandleObject.kt
  src/NovelRT/Audio/AudioService.cpp
  src/NovelRT/CMakeLists.txt
  src/NovelRT/Java/NovelRunnerBindings.cpp
  src/NovelRT/Java/TransformBindings.cpp
  src/NovelRT/Java/TypeConversion/Vector2TypeConverter.cpp
Owners: @capnkenny, @FiniteReality

Added a basic Java app launcher.
  include/NovelRT.JavaBoostrapper/ArgumentParser.h
  include/NovelRT.JavaBoostrapper/Options.h
  include/NovelRT/Java/Context.h
  include/NovelRT/Java/Init.h
  include/NovelRT/Java/JavaSupport.h
  include/NovelRT/Java/Types/AllTypes.h
  include/NovelRT/Java/Types/Definitions.h
  include/NovelRT/Java/Types/Type.h
  samples/Simple/CMakeLists.txt
  src/CMakeLists.txt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/NovelRTLoader.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/NovelRunner.kt
  src/NovelRT.Java/core/src/main/kotlin/module-info.java
  src/NovelRT.Java/pom.xml
  src/NovelRT.Java/sample-java/pom.xml
  src/NovelRT.Java/sample-kotlin/pom.xml
  src/NovelRT.Java/sample-kotlin/src/main/kotlin/com/github/novelrt/sample/kotlin/Main.kt
  src/NovelRT.JavaBootstrapper/ArgumentParser.cpp
  src/NovelRT.JavaBootstrapper/CMakeLists.txt
  src/NovelRT.JavaBootstrapper/main.cpp
  src/NovelRT.JavaBootstrapper/windows/RunBootstrapper.cmd
  src/NovelRT.JavaBootstrapper/windows/RunBootstrapper.ps1
  src/NovelRT/CMakeLists.txt
  src/NovelRT/Java/Context.cpp
  src/NovelRT/Java/Init.cpp
  src/NovelRT/Java/JNInit.cpp
  src/NovelRT/Java/NovelRunnerBindings.cpp
Owners: @FiniteReality

Small improvements and bug fixes
  include/NovelRT/Java/Bindings.h
  include/NovelRT/Java/Bindings/AllBindings.h
  include/NovelRT/Java/Bindings/GraphicsServiceBindings.h
  include/NovelRT/Java/Bindings/NovelRunnerBindings.h
  include/NovelRT/Java/Bindings/PropertyBindings.h
  include/NovelRT/Java/Bindings/Registrations.h
  include/NovelRT/Java/Bindings/RenderObjectBindings.h
  include/NovelRT/Java/Bindings/SceneConstructionRequestedEventBindings.h
  include/NovelRT/Java/Bindings/TextBindings.h
  include/NovelRT/Java/Bindings/TransformBindings.h
  include/NovelRT/Java/Bindings/WorldObjectBindings.h
  include/NovelRT/Java/Types/AllTypes_generated.h
  include/NovelRT/Java/Types/Definitions.h
  src/NovelRT/CMakeLists.txt
  src/NovelRT/Java/Bindings/AllBindings.cpp
  src/NovelRT/Java/Bindings/GraphicsServiceBindings.cpp
  src/NovelRT/Java/Bindings/NovelRunnerBindings.cpp
  src/NovelRT/Java/Bindings/RenderObjectBindings.cpp
  src/NovelRT/Java/Bindings/SceneConstructionRequestedEventBindings.cpp
  src/NovelRT/Java/Bindings/TextBindings.cpp
  src/NovelRT/Java/Bindings/TransformBindings.cpp
  src/NovelRT/Java/Bindings/WorldObjectBindings.cpp
  src/NovelRT/Java/Init.cpp
  src/NovelRT/Java/SceneConstructionRequestedEventBindings.cpp
Owners: @FiniteReality

Small changes to the code generator, added support for unsubscribing to an event.
  include/NovelRT/Java/Bindings/EventBindings.h
  include/NovelRT/Java/Bindings/PropertyBindings.h
  include/NovelRT/Java/Types/AllTypes_generated.h
  src/NovelRT.Java/code-generation/src/main/kotlin/com/github/novelrt/codegeneration/cpp/FinalFileWriter.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/event/Event.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/event/SceneConstructionRequestedEvent.kt
Owners: none

Prepare gitignore for gradle migration
  src/NovelRT.Java/.gitignore
Owners: none

Added support for ImageRect, and a few file location changes
  include/NovelRT/Java/Bindings.h
  include/NovelRT/Java/Bindings/ImageRectBindings.h
  include/NovelRT/Java/Bindings/RenderingServiceBindings.h
  include/NovelRT/Java/Bindings/Utilities.h
  include/NovelRT/Java/Bindings/Utilities/EventBindings.h
  include/NovelRT/Java/Bindings/Utilities/PropertyBindings.h
  include/NovelRT/Java/JavaSupport.h
  include/NovelRT/Java/TypeConversion/TypeConverter.h
  include/NovelRT/Java/Types/AllTypes_generated.h
  include/NovelRT/Java/Types/Definitions.h
  include/NovelRT/Java/Types/Type.h
  src/NovelRT.Java/code-generation/src/main/kotlin/com/github/novelrt/codegeneration/CodeGenAnnotationProcessor.kt
  src/NovelRT.Java/code-generation/src/main/kotlin/com/github/novelrt/codegeneration/model/CodeGenerationModel.kt
  src/NovelRT.Java/code-generation/src/main/kotlin/com/github/novelrt/codegeneration/util/GraphUtilities.kt
  src/NovelRT.Java/core/src/main/java/module-info.java
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/NovelRunner.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/event/SceneConstructionRequestedListener.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/graphics/ImageRect.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/graphics/RenderingService.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/windowing/WindowMode.kt
  src/NovelRT.Java/sample-java/src/main/java/com/github/novelrt/sample/java/Main.java
  src/NovelRT.Java/sample-kotlin/src/main/kotlin/com/github/novelrt/sample/kotlin/Main.kt
  src/NovelRT.JavaBootstrapper/CMakeLists.txt
  src/NovelRT/CMakeLists.txt
  src/NovelRT/Java/Bindings/AllBindings.cpp
  src/NovelRT/Java/Bindings/GraphicsServiceBindings.cpp
  src/NovelRT/Java/Bindings/ImageRectBindings.cpp
  src/NovelRT/Java/Bindings/NovelRunnerBindings.cpp
  src/NovelRT/Java/Bindings/RenderObjectBindings.cpp
  src/NovelRT/Java/Bindings/RenderingServiceBindings.cpp
  src/NovelRT/Java/Bindings/SceneConstructionRequestedEventBindings.cpp
  src/NovelRT/Java/Bindings/TextBindings.cpp
  src/NovelRT/Java/Bindings/TransformBindings.cpp
  src/NovelRT/Java/Bindings/WorldObjectBindings.cpp
  src/NovelRT/Java/Init.cpp
Owners: @FiniteReality

Adding some FumoCement support
  generation/Java/common.rsp
  generation/Java/generate-java-classes.rsp
  generation/Java/generate-jni-glue.rsp
  generation/Java/header.txt
  generation/Java/include-AllJava.h
  generation/Java/run-experiment.ps1
Owners: none

Added working new FumoCement & JNI stuff, soon cleaning
  generation/Java/common.rsp
  include/NovelRT.Interop/Input/NrtBasicInteractionRect.h
  include/NovelRT.Interop/NrtTransform.h
  include/NovelRT.JavaStubs/FumoCement.h
  include/NovelRT.JavaStubs/JNIBindings.h
  include/NovelRT.JavaStubs/NativeTypes.h
  src/CMakeLists.txt
  src/NovelRT.Java/core/src/main/java/com/github/novelrt/interop/Native.java
  src/NovelRT.Java/sample-kotlin/src/main/kotlin/com/github/novelrt/sample/kotlin/Main.kt
  src/NovelRT.JavaBootstrapper/CMakeLists.txt
  src/NovelRT.JavaBootstrapper/main.cpp
  src/NovelRT.JavaStubs/CMakeLists.txt
  src/NovelRT.JavaStubs/main.cpp
Owners: @RubyNova, @capnkenny, @FiniteReality

Added basic support for ECS
  include/NovelRT.JavaSupport/CustomBindings.h
  include/NovelRT.JavaSupport/JNIBindings.h
  src/CMakeLists.txt
  src/NovelRT.Java/buildSrc/build.gradle.kts
  src/NovelRT.Java/buildSrc/src/main/kotlin/com.github.novelrt.java-conventions-common.gradle.kts
  src/NovelRT.Java/core/build.gradle.kts
  src/NovelRT.Java/core/src/main/java/com/github/novelrt/interop/NovelRT.java
  src/NovelRT.Java/core/src/main/java/module-info.java
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/NovelRunner.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/Catalogue.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentBuffer.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentCache.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentDefinition.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/EntityCache.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/SparseSetMemoryContainer.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/SystemScheduler.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/interop/CallbackAliases.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/interop/KotlinNativeObject.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/interop/ObjectHandle.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/DataStructure.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/DataStructureInfo.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/MemoryAllocator.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/MemorySpan.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/timing/Timestamp.kt
  src/NovelRT.Java/sample-kotlin/hs_err_pid12944.log
  src/NovelRT.Java/sample-kotlin/hs_err_pid16576.log
  src/NovelRT.Java/sample-kotlin/hs_err_pid25160.log
  src/NovelRT.Java/sample-kotlin/src/main/kotlin/com/github/novelrt/sample/kotlin/Main.kt
  src/NovelRT.JavaBootstrapper/CMakeLists.txt
Owners: @FiniteReality

The same code, but with the new fumocement generator!
  include/NovelRT.JavaSupport/CustomBindings.h
  include/NovelRT.JavaSupport/JNIBindings.h
  src/NovelRT.Java/buildSrc/src/main/kotlin/com.github.novelrt.java-conventions-jlinked-application.gradle.kts
  src/NovelRT.Java/core/src/main/java/com/github/novelrt/interop/NovelRT.java
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/Catalogue.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentBuffer.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentCache.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentDefinition.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/EntityCache.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/SparseSetMemoryContainer.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/Types.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/graphics/BasicFillRect.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/graphics/ImageRect.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/graphics/TextRect.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/graphics/Texture.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/input/BasicInteractionRect.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/MemoryAllocator.kt
  src/NovelRT.Java/gradlew
  src/NovelRT.Java/sample-kotlin/src/main/kotlin/com/github/novelrt/sample/kotlin/Main.kt
Owners: none

Some neat stuff
  include/NovelRT.JavaSupport/CustomBindings.h
  include/NovelRT.JavaSupport/JNIBindings.h
  include/NovelRT.JavaSupport/PrecompiledFunctions.h
  src/NovelRT.Java/buildSrc/build.gradle.kts
  src/NovelRT.Java/core/src/main/java/com/github/novelrt/interop/NovelRT.java
  src/NovelRT.Java/core/src/main/java/module-info.java
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/Catalogue.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentBuffer.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentCache.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentDefinition.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/EntityCache.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/EntityIdVector.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/SparseSetMemoryContainer.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/UnsafeComponentView.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/interop/KotlinNativeObject.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/AllocatedStruct.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/CopiedStructView.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/ExternalStructView.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/MemoryAllocator.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/MemoryScope.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/MemorySpan.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/NativeArray.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/StructArray.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/StructDefinition.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/StructField.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/StructPointer.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/TemporaryAllocatedStruct.kt
  src/NovelRT.Java/sample-java/src/main/java/com/github/novelrt/sample/java/Main.java
  src/NovelRT.Java/sample-kotlin/build.gradle.kts
  src/NovelRT.Java/sample-kotlin/hs_err_pid12944.log
  src/NovelRT.Java/sample-kotlin/hs_err_pid16576.log
  src/NovelRT.Java/sample-kotlin/hs_err_pid25160.log
  src/NovelRT.Java/sample-kotlin/hs_err_pid7720.log
  src/NovelRT.Java/sample-kotlin/src/main/kotlin/com/github/novelrt/sample/kotlin/Main.kt
Owners: none

Small updates for fumocement and gradle
  generation/Java/common.rsp
  generation/Java/jni-config.xml
  generation/Java/run-experiment.ps1
  src/NovelRT.Java/buildSrc/build.gradle.kts
  src/NovelRT.Java/buildSrc/src/main/kotlin/com.github.novelrt.java-conventions-common.gradle.kts
  src/NovelRT.Java/core/build.gradle.kts
  src/NovelRT.Java/core/src/main/java/com/github/novelrt/interop/NovelRT.java
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/graphics/ImageRect.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/maths/GeoVector2F.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/AllocatedStruct.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/NativeArray.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/StructArray.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/StructDefinition.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/StructField.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/StructPointer.kt
  src/NovelRT.Java/gradle/wrapper/gradle-wrapper.jar
  src/NovelRT.Java/gradle/wrapper/gradle-wrapper.properties
  src/NovelRT.Java/sample-kotlin/build.gradle.kts
  src/NovelRT.Java/settings.gradle.kts
Owners: none

Small native data changes
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/AllocatedStruct.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/NativeStackExtensions.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/StructDefinition.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/nativedata/TemporaryAllocatedStruct.kt
  src/NovelRT.Java/sample-kotlin/build.gradle.kts
Owners: none
