Repository DynamicField/NovelRT, changes with the owners that CODEOWNERS names for each.
All owners: @capnkenny, @FiniteReality, @tannergooding, @RubyNova

CODEOWNERS:

# Audio
/include/NovelRT/Audio/      @capnkenny
/src/NovelRT/Audio/          @capnkenny

# CMake related changes
**/CMakeLists.txt            @FiniteReality
**/*.cmake                   @FiniteReality
/cmake/                      @FiniteReality

# devops related stuff
/.github/workflows/          @FiniteReality @tannergooding
/scripts/                    @FiniteReality @tannergooding

# Ecs
/include/NovelRT/Ecs/        @RubyNova
/src/NovelRT/Ecs/            @RubyNova

# Graphics
/include/NovelRT/Graphics/   @RubyNova @tannergooding
/src/NovelRT/Graphics/       @RubyNova @tannergooding

# Maths
/include/NovelRT/Maths/      @RubyNova @tannergooding
/src/NovelRT/Maths/          @RubyNova @tannergooding

# Timing
/include/NovelRT/Timing/     @RubyNova @tannergooding
/src/NovelRT/Timing/         @RubyNova @tannergooding

# Utilities
/include/NovelRT/Utilities/  @RubyNova @tannergooding @capnkenny
/src/NovelRT/Utilities/      @RubyNova @tannergooding @capnkenny

# Windowing
/include/NovelRT/Windowing/  @RubyNova @tannergooding

# NovelRT.Interop
/include/NovelRT.Interop/    @RubyNova @capnkenny
/src/NovelRT.Interop/        @RubyNova @capnkenny

Remove dotnet copy resources
  src/NovelRT.JavaBootstrapper/CMakeLists.txt
Owners: @FiniteReality

Updated to Gradle 8.1, Java ECS improvements
  include/NovelRT.JavaSupport/CustomBindings.h
  include/NovelRT.JavaSupport/PrecompiledFunctions.h
  src/NovelRT.Java/buildSrc/build.gradle.kts
  src/NovelRT.Java/core/src/main/java/module-info.java
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/Catalogue.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentBuffer.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentCache.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/EntityCache.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/EntityIdVector.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/interop/KotlinNativeObject.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/interop/TrackingContainer.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/interop/property/GeneralProperties.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/interop/property/NrtBoolProperty.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/interop/property/NrtTimestampProperty.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/interop/property/StringProperty.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/logging/LoggingExtensions.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/logging/NovelLogger.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/logging/NovelLoggerFinder.kt
  src/NovelRT.Java/gradle/wrapper/gradle-wrapper.properties
  src/NovelRT.Java/sample-kotlin/build.gradle.kts
  src/NovelRT.Java/sample-kotlin/resources/funtext.txt
  src/NovelRT.Java/sample-kotlin/src/main/kotlin/com/github/novelrt/sample/kotlin/Main.kt
Owners: none

Updated to latest NovelRT + basic working Kotlin app
  generation/Java/include-AllJava.h
  generation/Java/jni-config.xml
  generation/Java/run-experiment.ps1
  include/NovelRT.JavaSupport/CustomBindings.h
  include/NovelRT.JavaSupport/JNIBindings.h
  include/NovelRT.JavaSupport/NativeTypes.h
  include/NovelRT.JavaSupport/PrecompiledFunctions.h
  include/jni/wrapping.hpp
  samples/EcsPipeline/CMakeLists.txt
  src/NovelRT.Java/buildSrc/settings.gradle.kts
  src/NovelRT.Java/core/build.gradle.kts
  src/NovelRT.Java/core/src/main/java/com/github/novelrt/interop/NovelRT.java
  src/NovelRT.Java/core/src/main/java/module-info.java
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentBuffer.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/ComponentCache.kt
  src/NovelRT.Java/core/src/main/kotlin/com/github/novelrt/ecs/EntityIdVector.kt
  src/NovelRT.Java/sample-kotlin/build.gradle.kts
  src/NovelRT.Java/sample-kotlin/src/main/java/module-info.java
  src/NovelRT.Java/sample-kotlin/src/main/kotlin/com/github/novelrt/sample/kotlin/Main.kt
  src/NovelRT.JavaBootstrapper/CMakeLists.txt
  src/NovelRT.JavaSupport/CMakeLists.txt
Owners: @FiniteReality

Add C API for InputSystem
  include/NovelRT.Interop/Ecs/Input/NrtEcsInput.h
  include/NovelRT.Interop/Ecs/Input/NrtEcsInputTypedefs.h
  include/NovelRT.Interop/Ecs/Input/NrtInputSystem.h
  src/NovelRT.Interop/CMakeLists.txt
  src/NovelRT.Interop/Ecs/Input/NrtInputSystem.cpp
Owners: @RubyNova, @capnkenny

Fix reversed list in GetAllMappings C API
  src/NovelRT.Interop/Input/NrtIInputDevice.cpp
Owners: @RubyNova, @capnkenny
